body{
    font-family: 'Arial', sans-serif;
    background-color: #FFF2EC;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: #FFF2EC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

img {
    width: 40px;
}

.logo img {
    margin-top: 2%;
    width: 80px;
}

.navbar{
    padding: 0%;
}

.calendar-section {
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 400;
}

.card-calendar {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

#calendar {
    max-width: 100%;
    margin: 0 auto;
}

.fc-toolbar-title {
    margin-right: 65px !important;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.fc .fc-daygrid-day {
    border: 1px solid #ddd;
    background-color: #fff; 
}

.fc .fc-daygrid-day-number {
    font-size: 14px;
    color: #333;
}

.fc-event {
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

#proxima-menstruacao {
    font-size: 16px;
    margin-top: 15px;
    color: #333;
    font-weight: 600;
}

.explicacao {
    margin: 20px auto;
    padding: 15px;
    width: 90%;
    max-width: fit-content;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: left;
    border: 1px solid #ddd; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.callendar__explanation__title{
    display: flex;
    align-items: center;
}

.explicacao h3 {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.explicacao p {
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    margin: 10px 0;
}

.callendar__explanation{
    gap: 8px;
    display: flex;
    align-items: center;
}

.menstruacao-sample, .fertil-sample, .ovulacao-sample {
    display: inline-block;
    width: 20px; 
    height: 20px;
    border-radius: 5px;
    margin-right: 5px;
}

.menstruacao-sample {
    background-color: #FF4D4D;
}

.fertil-sample {
    background-color: #4D90FE;
}

.ovulacao-sample {
    background-color: #4CAF50;
}

