body {
    width: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #FFE6E2;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: #FFF2EC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

img {
    width: 40px;
}

.logo img {
    margin-top: 2%;
    width: 80px;
}

.dropdown-menu {
    margin: 46% 0% 0% -690%;
    padding: 70% 200% 240% 250%;
    display: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-image: url(/img/navbar/Gradient.png);
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu form {
    padding: 15px;
}

.dropdown-menu .form-group {
    margin-bottom: 15px;
}

.dropdown-menu .form-control {
    border-radius: 5px;
    padding: 10px;
}

.dropdown-menu .btn-primary {
    border-radius: 5px;
    padding: 10px 20px;
}

input{
    border-color: #000000;
    background-color: #ffffff00;
}

.profile img{
    margin-left: 20%;
    width: 50%;
}

.navbar{
    margin-top: 0%;
    padding: 0%;
}

.Ajuda, .dropdown{
    margin-top: 2%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mood-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.left-panel{
    margin: 1.5% 32%;
    position: absolute;
}

.right-panel{
    margin: -9.9% 60%;
    position: absolute;
}

.header {
    padding: 20px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    color: #333;
}

.header h2 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.oval-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 30px;
    padding: 20px;
}

.oval {
    background-color: #E89AB2;
    border-radius: 50%; 
    display: inline-block;
    border: 1.5px solid black;
}

.oval.small {
    width: 60px;
    height: 100px;
}

.oval.medium {
    width: 100px;
    height: 150px;
}

.oval.large {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    font-weight: bold; 
    font-size: 16px; 
    padding: 10px; 
    color: black;
}

.text-container {
    text-align: center;
    margin-top: -20px;
}

.home-title {
    font-size: 2em; 
    font-weight: bold; 
    color: #000;
}

.subtitle {
    font-size: 0.9em;
    font-weight: normal;
    color: #000; 
}


.circulo1{
    margin-top: -30px;
}

.circulo2{
    font-size: 10px;
    color: #000000;
}

.banner {
    background-image: url('../img/home/banner1.png') !important;
    background-size: cover;
    background-position: center; 
    width: 100%; 
    height: 300px;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.cards-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}

.card {
    border-radius: 10px;
    box-shadow: -2px 1px 12px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    width: 150px;
}

.card img {
    border-radius: 8px;
    border: 1.5px solid black;
    height: 185px;
    width: 147px;
}

.card p {
    font-size: 14px;
    margin-top: 8px;
}

.title {
    background: #F6C780;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #333;
    border: 1.5px solid black;
}

.card.ban2 {
    background-image: url(../img/home/banner3.png);
    background-size: cover;
    background-position: center; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    width: 800px;
    height: 240px; 
    border: 1.5px solid black;
}


.card.ban3 {
        background-color: #C6C9E8;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: left;
        height: 208px;
        width: 750px;
        border: 1.5px solid black;
        margin: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 4px 4px 0 4px;
        padding-bottom: 0;

    .imgsem {
        height: 220px;
        width: 350px; 
        border: none;
        border-radius: 8px;
        object-fit: cover;
        margin-left: 20px; 
        margin-top: 20px;  
        margin-bottom: 32px;
    }

    .p {
        display: block;
        font-size: 2.5em;
        color: #333;
        margin-top: -20px;
        margin-bottom: 0; 
        font-weight: bold;
    }
}
.text {
    display: block;
    font-size: 1em;
    margin-block-start: -1.33em;
    margin-block-end: -0.33em;
    margin-inline-start: 24px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate; 
}

.img.card {
    border-radius: 8px;
    height: 185px;
    width: 147px;
}

.oval-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 61px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.oval {
    background-color: #E89AB2;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #000000;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.oval.large {
    width: 150px;
    height: 200px;
}

.oval img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%; 
}
.text-container1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 84px;
    padding: 14px;
    margin-top: 20px;
}

.text-custom h2 {
    text-align: center;
    display: block;
    font-size: 1.2em;
    margin-block-start: -2.17em;
    margin-block-end: 0.83em;
    margin-inline-start: -1px;
    margin-inline-end: 7px;
    unicode-bidi: isolate;
    font-weight: normal;
}

.oval.fotinhas {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border: none;
    background-color: #C6C9E8;
    box-shadow: 0px 0px 20px 5px rgb(152 163 221 / 62%)
}

.footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-logo {
    width: 100px;
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 8px;
}

.language-selector img {
    width: 24px;
    height: 24px;
}

.social-media a {
    margin: 0 10px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

.footer-sections {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.section {
    text-align: left;
}

.section h4 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

section a {
    display: block;
    color: #000;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 14px;
}

.section a:hover {
    text-decoration: underline;
}